.cinema-body{
  background: url(../img/fondo1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

/* estilo a la barra de navegacion superior */
.navbar-inverse{
  min-height: 10%;
  background-color: rgba(0, 0, 174, 0.9);
  border: none;
}

.logo-next_u {
  width: 110px;
}

/* estilo al contenedor principal */
.container-fluid{
  margin-top: 64px;
}

/* estilo para jumbotron */
.jumbotron{
  background: url(../img/fondo2.jpg);
  background-size: 100%;
  min-height: 500px;
  margin-bottom: 0;
  border-radius: 0 !important;
}

.jumbotron-img {
  margin-top: 20px;
}

.jumbotron-text {
  font-size: 16px;
  color: white;
  margin-top: 20px;
}

.redes-sociales {
  margin-top: 20px;
}

.img-social {
width: 40px;
height: 40px;
}

.welcome-title {
  color: #FFFFFF;
  margin-right: 10px;
}

.titulo-cartelera{
  min-height: 45px;
  background: yellow;
}


.movies-row{
  background: green;
  min-height: 350px;
  padding: 0 15px 0 15px;
}

.movies-column{
  margin-top: 5px;
  background: orange;
  min-height: 330px;
  border: 2px dashed grey;
}

.left-column{
  border-right: 2px dashed grey;
}

@media (max-width: 770px) {
  .right-column{
    display: none;
  }
  .movies-row {
    min-height: 250px;
  }
  .movies-column {
    min-height: 230px;
  }
  .jumbotron {
    min-height: 350px;
  }
}
